{%- comment -%}
  In-site search
{%- endcomment -%}
<div id="search-wrapper" class="d-flex justify-content-center">
  <div class="search-container d-flex align-items-center">
    <i class="fas fa-search"></i>
    <input
      type="text"
      id="search-input"
      class="form-control"
      aria-label="search-input"
      autocomplete="off"
      placeholder="{{ site.data.locales[lang].search.hint | default: 'Search...' }}"
    >
    <i class="fas fa-times-circle" id="search-cleaner"></i>
  </div>
</div>

<div id="topbar-wrapper" class="d-flex justify-content-between">
  <div id="topbar-title">
  </div>

  <div id="topbar-func" class="d-flex align-items-center">
    <button id="search-trigger" class="btn btn-link" aria-label="search-trigger">
      <i class="fas fa-search"></i>
    </button>

    {% if page.toc and page.content != '' %}
      <button id="toc-trigger" class="btn btn-link d-lg-none" aria-label="toc-trigger">
        <i class="fas fa-bars"></i>
      </button>
    {% endif %}

    <button id="sidebar-trigger" class="btn btn-link d-lg-none" aria-label="sidebar-trigger">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</div>
